/*布局样式*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-sb {
  justify-content: space-between;
  /*两端对齐*/
  -webkit-box-pack: space-between;
}
.fix {
  *zoom: 1;
}
.clearfix {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
